@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.textfield .MuiOutlinedInput-root.MuiOutlinedInput-notchdedOutline {
  border-color: red !important;
}